:root {
    --white-color: #FFF;
    --yellow-color: #FFC20D;
    --light-gray-color: #A1A1A1;
    --dark-gray-color: #606060;
    --lightest-gray-color: #D8D8D8;
    --black-color: #000;
    --home-button-border-color: #CECECE;
    --bank-color: #2F0DFF;
    --player-message-color-normal: #7CBA27;
    --player-message-color-alt: #609D0E;
    --other-message-color-normal: #E9E9EB;
    --other-message-color-alt: #D6D6D6;
    --note-text-color: #797979;
    --news-button-color: #287AF4;
    --news-footer-color: #E4E8EE;

    --footer-header-height: 5rem;
    --footer-button-height-width: calc(var(--footer-header-height) * 0.7);

    --app-size: 4rem;
    --app-radius: 12px;
    --side-spacing: 1.25rem;
}

@font-face {
    font-family: 'Inter';
    src: url('/media/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'Digital';
    src: url('/media/fonts/digital-7.ttf');
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', 'Arial';
}

body {
    margin: 0;
    background-color: var(--white-color);
}

input {
    border-radius: 0;
    border: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

span {
    display: block;
}

.bold {
    font-weight: 600;
    display: inline;
}

header {
    height: var(--footer-header-height);
    width: 100%;
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
    display: block;
    cursor: pointer;
}

a {
    cursor: pointer;
}

main {
    padding: 0 var(--side-spacing);
}

footer {
    position: fixed;
    height: var(--footer-header-height);
    width: 100%;
    background-color: var(--black-color);
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    height: var(--footer-button-height-width);
    width: var(--footer-button-height-width);
    border-radius: 50%;
    background: linear-gradient(180deg, var(--black-color) 0%, #282828 100%);
    border: 2px solid var(--home-button-border-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer button #inner-square {
    width: calc(var(--footer-button-height-width) * 0.4);
    height: calc(var(--footer-button-height-width) * 0.4);
    border: 2px solid var(--home-button-border-color);
    border-radius: 4px;
}


/* POPUPS */

body:has(.background-darken) {
    overflow: hidden;
}

.background-darken {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.popup-con {
    position: fixed;
    top: 50%;
    background-color: var(--white-color);
    border-radius: 12px;
    left: 50%;
    min-width: 250px;
    max-width: 250px;
    transform: translate(-50%, -50%);
    z-index: 102;
}

.popup-con p {
    margin: 0;
    text-align: center;
}

.popup-top,
.popup-bottom {
    padding: calc(0.8 * var(--side-spacing)) var(--side-spacing);
}

.popup-top {
    border-bottom: 1px solid #E7E7E7;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#findBag .popup-text {
    font-size: 12px;
    color: #464646;
}

#findBagBg {
    background-image: url('media/backgrounds/park-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
    z-index: 0;
}

#popup-pick-up {
    width: 100%;
    font-size: 16px;
    padding: calc(0.8 * var(--side-spacing)) var(--side-spacing);
}

#popup-distance-text {
    font-size: 24px;
    padding-top: 12px;
}

#findBagLight {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#findBagTiger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 2%;
}

#findBagTiger.showTiger {
    width: 100%;
    transition: width 0.4s ease-in;
}

#findBagLightBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    width: 5vw;
    height: 5vw;
    background-color: var(--white-color);
    border-radius: 100%;
    filter: blur(50px);
}

#findBagLightBg.showLightBg {
    width: 75vw;
    height: 75vw;
    transition: width 0.6s ease-in, height 0.6s ease-in;
}

.hideFindBag {
    opacity: 0;
    transition: all 0.6s ease-in;
}

.popup-bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.popup-bottom .startGame {
    font-size: 16px !important;
    color: var(--bank-color)
}

#distance {
    color: var(--black-color)
}

#findBag .popup-bottom p:first-child {
    font-size: 12px;
}

#findBag .popup-bottom p:last-child {
    font-size: 32px;
}

#swosh .popup-top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#swosh .popup-date,
#swosh .popup-number {
    font-size: 12px;
    color: #464646;
}

#swosh .popup-topF-con,
#swosh .popup-topS-con {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.popup-button {
    color: var(--bank-color);
}

#phoneCall .popup-top p:first-child {
    font-weight: 500;
}

#phoneCall .popup-top p:last-child {
    font-size: 14px;
}

#phoneCall .popup-button {
    font-size: 16px;
}

.progress-wrapper {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background-color: var(--bank-color);
    transition: width 0.3s ease-in-out;
}

#startVyBg {
    background: rgba(105, 105, 105, 0.20);
    backdrop-filter: blur(12.5px);
}


#other .popup-top p:first-child {
    font-weight: 500;
}

#other .popup-top p:last-child {
    font-size: 14px;
}

#other .popup-button {
    font-size: 16px;
}


/* Notifications */
.noti-con * {
    margin: 0;
}

.noti-con {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - var(--side-spacing) * 2);
    max-width: 360px;

    padding: calc(var(--side-spacing) * 0.6);
    border-radius: 18px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 6px;

    background-color: rgba(235, 235, 235, 0.65);
    background-blend-mode: color-dodge, normal;
    backdrop-filter: blur(17.5px);

    opacity: 0;
    transition: top 0.4s ease, opacity 0.4s ease;
    z-index: 1000;
}

.noti-con.show {
    top: 20px;
    opacity: 1;
}

.noti-top {
    display: flex;
    justify-content: space-between;
}

.noti-app-con {
    display: flex;
    gap: 4px;
    align-items: center;
}

.noti-app-img {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.noti-bottom {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.noti-bottom-header {
    font-weight: 600;
}