:root {
    --white-color: #FFF;
    --yellow-color: #FFC20D;
    --light-gray-color: #A1A1A1;
    --dark-gray-color: #606060;
    --lightest-gray-color: #D8D8D8;
    --black-color: #000;
    --home-button-border-color: #CECECE;
    --bank-color: #2F0DFF;
    --player-message-color-normal: #7CBA27;
    --player-message-color-alt: #609D0E;
    --other-message-color-normal: #E9E9EB;
    --other-message-color-alt: #D6D6D6;
    --note-text-color: #797979;

    --footer-header-height: 5.625rem;
    --app-size: 4rem;
    --app-radius: 12px;
    --side-spacing: 1.25rem;

    --header-font-size: 1.125rem;
}

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

body {
    margin: 0;
}

input {
    border-radius: 0;
    border: 0;
    width: 100%;
}

h1,
h2,
h3,
h4, 
p{
    margin: 0;
}

span {
    display: block;
}

header {
    height: var(--footer-header-height);
    width: 100%;
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
    display: block;
    cursor: pointer;
}

a {
    cursor: pointer;
}

main {
    padding: 0 var(--side-spacing);
}

footer {
    position: fixed;
    height: var(--footer-header-height);
    width: 100%;
    background-color: var(--black-color);
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

footer button {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: linear-gradient(180deg, var(--black-color) 0%, #282828 100%);
    border: 2px solid var(--home-button-border-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer button #inner-square {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--home-button-border-color);
    border-radius: 4px;
}