#notes-page{
    --underline-width: 5rem;
    background-color: #F3F3F3;
    min-height:100dvh;
}

#wrapper #notes-page main .gone{
    display: none;
}

#notes-page header{
    height: 8.125rem;
    position: sticky;
    top:0;
    display: flex;
    align-items: end;
    padding: 0 var(--side-spacing);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    background-color: var(--white-color);
}

#notes-page header h1{
    font-size: 1.75rem;
    position: absolute;
    transform: translate(0, -50%);
    top:50%;
}   

#notes-page header nav{
    display: flex;
    flex-direction: column;
    gap:3px;
}

#notes-page header nav button{
   font-size: 0.875rem; 
   width: var(--underline-width);
   text-align: center;
}

#notes-page header nav #button-container{
    display: flex;
}

#notes-page header nav #underline{
    height: 0.125rem;
    width: var(--underline-width);
    background-color: var(--yellow-color);
    left: 0%;
    position: relative;

    transition: 150ms left ease-in-out;
}

#notes-page header nav #underline.move{
    left: 50%
}

#notes-page main{
    padding-top: 2rem;
    padding-bottom: calc(var(--footer-header-height) + 2rem);
}

#notes-page main h2{
    font-size: 1.25rem;
}

#notes-page main #title-container{
    display: flex;
}

#notes-page main #latest-notes > div{
    display: flex;
    flex-direction: column;
    gap:0.25rem;
}

#notes-page main .notes-container{
    column-count: 2;
    column-gap: 1rem;
}

#notes-page main .notes-container .note{
    background-color: var(--white-color);
    border-radius: 8px;
    padding:0.825rem 1rem;
    break-inside: avoid;
}

#notes-page main .notes-container .note::before{
    content: "";
    background-color: var(--white-color);
    position: absolute;
    width: 0%;
    height: 100%;
    transition: 1000ms all ease-in-out;
}

#notes-page main .notes-container .note.animationStart::before{
    width: 100%;
    height: 100%;
    top:0;
    right:0;
}

#notes-page main .notes-container .note:not(:last-child){
    margin-bottom: 1rem;
}

#notes-page main .notes-container .note h3{
    font-size: 1rem;
    color: #333333;
}

#notes-page main .notes-container .note span{
    font-size: 0.8rem;
    color: var(--dark-gray-color);
}

#notes-page main .notes-container .note p{
    font-size: 0.7rem;
    line-height: 1.3;
    color: var(--note-text-color);
}

#notes-page main .notes-container .note .note-date{
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

#notes-page main > div{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

#note-specific-page header{
    background-color: var(--white-color);
    color: var(--yellow-color);

    position: fixed;
    top:0;
    z-index: 10;

    display: flex;
    align-items: end;
    justify-content: space-between;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}




#note-specific-page::before{
    content: "";
    background-color: var(--white-color);
    position: absolute;
    width: 100%;
    height: calc(100% - var(--footer-header-height));
    right: 100%;
    transition: 1000ms all ease-in-out;
    z-index: 11;
}

#note-specific-page.animationStart::before{
    top:0;
    right:0;
}

#notes-specific-page{
    overflow: hidden;
}

#note-specific-page header a{
    padding: 1.25rem;
    display: flex;
    gap:0.5rem;
}

#note-specific-page header #notes-back-button{
    font-size: 1rem;
}

#note-specific-page header a#favourite-button img{
    height: 1rem;
    align-self: center;
}

#note-specific-page header a#notes-back-button img{
    height: 1.125rem;
    align-self: center;
}

#note-specific-page main h1{
    margin-top:calc(2.5rem + var(--footer-header-height));
    margin-bottom: 2.5rem;
    font-size: 1.70rem;
}

#note-specific-page main{
    margin-bottom: calc(2.5rem + var(--footer-header-height));
    overflow: hidden;
}

#note-specific-page main h2.word-title{
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.25;
    position: relative;
    right:0;
    transition: 1800ms right linear;
}

#note-specific-page main h2.word-title.move{
    right: 100vw;
}

#note-specific-page main .notes-mini-game{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

#note-specific-page main .word-input-container{
    transition:600ms height ease-in-out;

    display: flex;
    flex-wrap: wrap;
    column-gap: 0.75rem;
    row-gap: 0.625rem;
}

#note-specific-page main #notes-minigames-container{
    display: flex;
    flex-direction: column;
    gap: 3.75rem;

    transition: 300ms gap linear;
}

#note-specific-page main #notes-minigames-container.smaller-gap{
    gap:1.25rem;
}

#note-specific-page main #notes-minigames-container.smaller-gap-no-animation{
    gap:1.25rem;
    transition: none;
}

#note-specific-page main .word-input-container .word{
    height: fit-content;
}

#note-specific-page main .word-input-container .word input{
    border: 2px solid var(--light-gray-color);
    border-right:0;
}

#note-specific-page main .word-input-container .word input:first-child{
    border-radius: 2px 0 0 2px;
}

#note-specific-page main .word-input-container .word input:last-child{
    border-radius: 0 2px 2px 0;
    border-right: 2px solid var(--light-gray-color);
}

#note-specific-page main .word-input-container.no-height{
    height: 0px;
}

#note-specific-page main input{
    position: relative;
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    text-align: center;

    top:0;
    right:0;
    left:0;
    bottom:0;
}

#note-specific-page input.done{
    background-color: lime;
}


#note-specific-page input.wrong{
    background-color: red;
}