#notes-page header{
    background-color: var(--white-color);
    color: var(--yellow-color);

    position: fixed;
    top:0;
    z-index: 10;

    display: flex;
    align-items: end;
    justify-content: space-between;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}


#notes-page header a{
    padding: 1.25rem;
    display: flex;
    gap:0.5rem;
}

#notes-page header #notes-back-button{
    font-size: var(--header-font-size);
}

#notes-page header a#favourite-button img{
    height: 1rem;
    align-self: center;
}

#notes-page header a#notes-back-button img{
    height: 1.125rem;
    align-self: center;
}

#notes-page main h1{
    margin-top:calc(2.5rem + var(--footer-header-height));
    margin-bottom: 2.5rem;
    font-size: 2rem;
}

#notes-page main{
    margin-bottom: calc(2.5rem + var(--footer-header-height));
}

#notes-page main h2{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.25;
}

#notes-page main .notes-mini-game{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

#notes-page main .word-input-container{
    height: 7.5rem;
    transition:600ms height ease-in-out;

    display: flex;
    flex-wrap: wrap;
    column-gap: 0.75rem;
    row-gap: 0.625rem;
}

#notes-page main #notes-minigames-container{
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

#notes-page main .word-input-container .word{
    height: fit-content;
}

#notes-page main .word-input-container .word input{
    border: 2px solid var(--light-gray-color);
    border-right:0;
}

#notes-page main .word-input-container .word input:first-child{
    border-radius: 2px 0 0 2px;
}

#notes-page main .word-input-container .word input:last-child{
    border-radius: 0 2px 2px 0;
    border-right: 2px solid var(--light-gray-color);
}

#notes-page main .word-input-container.no-height{
    height: 0px;
}

#notes-page main input{
    position: relative;
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    text-align: center;

    top:0;
    right:0;
    left:0;
    bottom:0;
}

#notes-page input.done{
    background-color: lime;
}


#notes-page input.wrong{
    background-color: red;
}