#bank-page {
    --wine-color: #DF1A52;
    --shopping-color: #DF761A;
    --utensils-color: #20A116;
    --truck-color: #3683C2;
}

#bank-page::before {
    content: "";
    inset: 0;
    bottom: 0;
    opacity: 0;
    background-color: black;
    position: fixed;
    z-index: -1;

    transition: 1500ms all ease-in-out;
}

body:has(.ending) {
    overflow: hidden;
}

#bank-page.ending::before {
    opacity: 1;
    z-index: 10001;
}

#bank-page h3 {
    font-size: var(--header-font-size);
}

#bank-page header {
    background-color: var(--bank-color);
    display: flex;
    align-items: end;
    padding: var(--side-spacing);
}

#bank-page header h3 {
    color: var(--white-color);
}

#bank-page main {
    margin-top: 0.75rem;
    margin-bottom: calc(var(--footer-header-height) + 1rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

#bank-page main #account-swosh {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#bank-page main #account-swosh-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#bank-page main #account-swosh-box #account-box {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#bank-page main #account {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--lightest-gray-color);
    border-radius: 8px;
    padding: 0.75rem;
}

#bank-page main #account #left-side {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#bank-page main #account #left-side span:not(#account-title) {
    font-size: 0.8rem;
}

#bank-page main #account #right-side {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

#bank-page main #swosh-box {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#bank-page main #swosh-box #number-input {
    display: flex;
    flex-direction: column;
}

#bank-page main #swosh-box #inputs-box {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#bank-page main #swosh-box #inputs-box input {
    border-radius: 6px;
    height: 2.25rem;
    border: 1px solid var(--lightest-gray-color);
    padding-left: 0.5rem;
    font-size: 1rem;
}

#bank-page main button {
    background-color: var(--bank-color);
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    color: var(--white-color);
    width: fit-content;
    align-self: end;
    border-radius: 16px;
}

#bank-page main #transactions-box {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

#bank-page main #transactions {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.25rem;
}

#bank-page main #transactions .transaction {
    display: flex;
    justify-content: space-between;
}

#bank-page main #transactions .transaction h3 {
    font-weight: normal;
    font-size: 1rem;
}

#bank-page main #transactions .transaction span {
    font-size: 0.8rem;
}

#bank-page main #transactions .transaction .img-title-date {
    display: flex;
    gap: 0.75rem;
}

#bank-page main #transactions .transaction .img-title-date .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bank-page main #transactions .transaction .img-title-date .title-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.125rem;
}

#bank-page main #transactions .transaction .transaction-sum {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

#bank-page main #transactions .transaction img {}


/* Warning */
#swosh-warning-box {
    border-radius: 12px;
    border: 2px solid #FFEB3B;
    background: rgba(255, 235, 59, 0.65);
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#swosh-warning-top {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
}

#bank-page main #account-swosh-box input {
    position: relative;
    right: 0;
    animation-duration: 400ms;
}

#wrapper #bank-page main #account-swosh-box #inputs-box .shake {
    animation-name: shakeError;
}

@keyframes shakeError {
    6.25% {
        right: 1rem;
    }

    12.5% {
        right: 0;
    }

    18.75% {
        right: -1rem;
    }

    25% {
        right: 0;
    }

    31.25% {
        right: 1rem;
    }

    37.5% {
        right: 0;
    }

    43.75% {
        right: -1rem;
    }

    50% {
        right: 0;
        box-shadow: inset 0 0 0 2px red;
    }

    56.25% {
        right: 1rem;
    }

    62.5% {
        right: 0;
    }

    68.75% {
        right: -1rem;
    }

    75% {
        right: 0;
    }

    81.25% {
        right: 1rem;
    }

    87.5% {
        right: 0;
    }

    93.75% {
        right: -1rem;
    }

    100% {
        right: 0;
    }
}