#bank-page{
    --wine-color: #DF1A52;
    --shopping-color: #DF761A;
    --utensils-color: #20A116;
    --truck-color: #3683C2;
}

#bank-page.ending::before{
    content: "";
    inset: 0;
    position: fixed;
    background-color: black;
    z-index: 1001;
    overflow: hidden;
}

#bank-page h3{
    font-size: var(--header-font-size);
}

#bank-page header{
    background-color: var(--bank-color);
    display: flex;
    align-items: end;
    padding:var(--side-spacing);
}

#bank-page header h3{
    color: var(--white-color);
}

#bank-page main{
    margin-top:0.75rem;
    margin-bottom: calc(var(--footer-header-height) + 1rem);
    display: flex;
    flex-direction: column;
    gap:2rem;
 
}

#bank-page main #account-swosh{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

#bank-page main #account-swosh-box{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

#bank-page main #account-swosh-box #account-box{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
}

#bank-page main #account{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--lightest-gray-color);
    border-radius: 8px;
    padding: 0.75rem;
}

#bank-page main #account #left-side{
    display: flex;
    flex-direction: column;
    gap:0.25rem;
}

#bank-page main #account #left-side span:not(#account-title){
    font-size: 0.8rem;
}

#bank-page main #account #right-side{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

#bank-page main #swosh-box {
    display: flex;
    flex-direction: column;
    gap:0.4rem;
}

#bank-page main #swosh-box #number-input{
    display: flex;
    flex-direction: column;
}

#bank-page main #swosh-box #inputs-box{
    display: flex;
    flex-direction: column;
    gap:0.8rem;
}

#bank-page main #swosh-box #inputs-box input{
    border-radius: 6px;
    height: 2.25rem;
    border:1px solid var(--lightest-gray-color);
    padding-left: 0.5rem;
    font-size: 1rem;
}

#bank-page main button{
    background-color: var(--bank-color);
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    color: var(--white-color);
    width: fit-content;
    align-self: end;
    border-radius: 16px;
}

#bank-page main #transactions-box{
    display: flex;
    flex-direction: column;
    gap:1.125rem;
}

#bank-page main #transactions{
    display: flex;
    flex-direction: column-reverse;
    gap:1.25rem;
}

#bank-page main #transactions .transaction{
    display: flex;
    justify-content: space-between;
}

#bank-page main #transactions .transaction h3{
    font-weight: normal;
    font-size: 1rem;
}

#bank-page main #transactions .transaction span{
    font-size: 0.8rem;
}

#bank-page main #transactions .transaction .img-title-date{
    display: flex;
    gap:0.75rem;
}

#bank-page main #transactions .transaction .img-title-date .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bank-page main #transactions .transaction .img-title-date .title-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.125rem;
}

#bank-page main #transactions .transaction .transaction-sum{
    font-size: 1rem;
    display: flex;
    align-items: center;
}

#bank-page main #transactions .transaction img{

}



