#home-page{
    min-height: 100dvh;
    background-image: url("../../media/backgrounds/home-background.jpg");
    background-size: cover;
}

#home-page main{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    padding-top: 3rem;
}

#home-page .app{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.25rem;
}

#home-page .app img{
    height: var(--app-size);
    width: var(--app-size);
    object-fit: cover;
    border-radius: var(--app-radius);
}

#home-page .app span{
    color: var(--white-color);
}